button{
    border: 0;
    outline: 0;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    color: #555;
    background-color: #fff;
    border-radius: 5ox;
    -webkit-border-radius: 5ox;
    -moz-border-radius: 5ox;
    -ms-border-radius: 5ox;
    -o-border-radius: 5ox;
    cursor: pointer;
}